@import url(https://db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy+Regular);

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-pic: url(../imgs/pokemon-bg.jpeg);
    --font-family: "Early GameBoy Regular", system-ui;
    --main-font-color: white;
    --top-nav-bg-clr: rgba(0, 0, 0, 0.211);
    --footer-bg-clr: rgba(0, 0, 0, 0.211);
}

/* -- MAIN TAG STYLING -- */

html, body {
    width: 100%;
    height: 100%;
}

body {
    background: var(--bg-pic) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

html {
    font-family: var(--font-family);
    font-size: 1em;
    scroll-behavior: smooth;
}

footer {
    background: var(--footer-bg-clr);
    margin-top: auto;
    padding: 3em 1em;
    color: white;
    width: 100%;
}

li {
    list-style: none;
}

/* -- TOP NAVIGATION BAR STYLING -- */
.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    margin-bottom: 5em;
    background: var(--top-nav-bg-clr);
}

.top-nav-bar-logo {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.pokemon-ball {
    fill: white;
}

/* -- MAIN BODY OF INDEX PAGE STYLING */

/* Welcome Text Box Styling */
.text-box-container {
    display: flex;
    justify-content: center;
}

.text-box {
    max-width: 80em;
    border-radius: 2px;
    padding: 2em;
    margin: 0 2em;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

.main-name-heading {
    text-align: center;
    font-size: calc(2em + 1vw);
}

/* Button styling in main body of index page */
.body-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: 2em 0;
    gap: 3em;
}

.button {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
    padding: 1em;
    padding-right: 2.2em;
    margin: 0.5em;
    border-radius: 4em;
    font-weight: bold;
    font-family: var(--font-family);
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em;
}

.button:focus {
    outline: none;
}

.button:is(:hover, :focus) .pointer {
    visibility: visible;
    animation: fade-in-out 0.5s alternate infinite;
}

.button:active {
    border: 1px solid rgba(0, 0, 0, 0.299);
}

/* Icons8 link styling */
.icons8-link {
    color: white;
}

/* Pointer hidden */
.pointer {
    visibility: hidden;
}


/* -- LOGIN AND CREATE ACCOUNT FORM STYLING -- */

/* Form Tags */
form {
    background: white;
    padding: 2em;
    margin: 0 1em 3em 1em;
    width: 100%;
    max-width: 50em;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

fieldset {
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 16px;
}

legend {
    padding-inline: 0.5em;
}

label {
    padding-bottom: 1em;
}

input {
    display: block;
    border: 1px solid black;
    padding: 1em;
    font-family: var(--font-family);
    margin: 0.5em 0 0 0;
    width: 100%;
}

input:focus {
    outline: black 3px double;
}

/* Form Classes */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button {
    flex-grow: 1;
    flex-basis: 50em;
    padding: 1em;
    padding-right: 2.2em;
    font-family: var(--font-family);
    text-align: center;
    border: 1px solid white;
    border-radius: 4em;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
    background-color: white;
}

.form-button:hover {
    cursor: pointer;
}

.form-button:focus {
    outline: none;
}

.form-button:is(:hover, :focus) .pointer {
    visibility: visible;
    animation: fade-in-out 0.5s alternate infinite;
}

.form-button:active {
    border: 1px solid rgba(0, 0, 0, 0.299);
}

/* Create Account/Login form input box sizing */
.f-name {
    flex-grow: 1;
    flex-basis: 15em
}
 
.l-name {
    flex-grow: 2;
    flex-basis: 25em
}

.email {
    flex-grow: 2;
    flex-basis: 25em
}

.phone-num {
    flex-grow: 1;
    flex-basis: 15em
}

.uname,
.pass {
    flex-grow: 2;
    flex-basis: 40em
}

/* -- ANIMATIONS -- */
@keyframes fade-in-out {
    from {opacity: 100%;}
    to {opacity: 0%;}
  }

/* style when width is <= 725px */
@media (max-width: 725px) or (orientation: landscape) {
    .main-name-heading {
        font-size: calc(1.2em + 1vw);
    }

    .body-login-btn,
    .body-create-account-btn {
    font-size: 1em;
    }
}