@import url(https://db.onlinewebfonts.com/c/3ada9815c06d2619d52d16a5601c96b2?family=Early+GameBoy+Regular);

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-pic: url(../imgs/pokemon-bg.jpeg);
    --font-family: "Early GameBoy Regular", system-ui;
    --main-font-color: white;
    --top-nav-bg-clr: rgba(0, 0, 0, 0.211);
    --footer-bg-clr: rgba(0, 0, 0, 0.211);
}

/* -- TAG STYLING -- */

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-family: var(--font-family);
    font-size: 1em;
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

body {
    background: var(--bg-pic) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

li {
    list-style: none;
}

/* -- TOP NAVIGATION BAR STYLING -- */
.top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1.5em;
    margin-bottom: 2em;
    width: 100%;
    background: var(--top-nav-bg-clr);
}

.top-nav-bar-logo {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.top-nav-bar-logo:hover {
    text-decoration: underline;
}

.top-nav-main-links {
    display: flex;
    align-items: center;
    gap: 1em;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 1em;
}

.border {
    border-style: solid; 
    border-width: 2px;
    border-color: gray black black gray;
}

.pokemon-ball {
    fill: white;
}

/* -- INDEX PAGE STYLING */

/* Welcome Text Box Styling */
.text-box-container {
    display: flex;
    justify-content: center;
}

.text-box {
    max-width: 80em;
    border-radius: 2px;
    padding: 2em;
    margin: 0 2em;
    background: white;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

.main-name-heading {
    text-align: center;
    font-size: calc(1.5em + 1vw);
}

/* Button styling in body of index page */
.body-btns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    margin: 2em 0;
    gap: 3em;
}

.button {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
    padding: 1em;
    padding-right: 2.2em;
    margin: 0.5em;
    border-radius: 4em;
    font-weight: bold;
    font-family: var(--font-family);
    white-space: nowrap;
    cursor: pointer;
    font-size: 1em;
}

.button:focus {
    outline: none;
}

.button:is(:hover, :focus) .pointer {
    visibility: visible;
    animation: fade-in-out 0.5s alternate infinite;
}

.button:active {
    border: 1px solid rgba(0, 0, 0, 0.299);
}

.index-footer {
    background: var(--footer-bg-clr);
    padding: 3em 1em;
    color: white;
    width: 100%;
}

/* Icons8 link styling */
.icons8-link {
    color: white;
}

/* Pointer hidden */
.pointer {
    visibility: hidden;
}


/* -- LOGIN AND CREATE ACCOUNT FORM STYLING -- */

/* Form Tags */
form {
    background: white;
    padding: 2em;
    margin: 0 1em 3em 1em;
    width: 100%;
    max-width: 50em;
    border: 1px solid white;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
}

fieldset {
    padding: 1em;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 16px;
}

.error {
    width: 100%;
    color: #c00;
}

legend {
    padding-inline: 0.5em;
}

label {
    padding-bottom: 1em;
}

input, .information {
    display: block;
    border: 1px solid black;
    padding: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    margin: 0.5em 0 0 0;
    width: 100%;
}

.information {
    border: none;
    padding: 0;
}

input:focus {
    outline: black 3px double;
}

/* Form Classes */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-button {
    flex-grow: 1;
    flex-basis: 50em;
    padding: 1em;
    padding-right: 2.2em;
    font-family: var(--font-family);
    text-align: center;
    border: 1px solid white;
    border-radius: 4em;
    box-shadow: 0 1px 0 1px black,
                inset 0 1px 0 1px black,
                0 0 0 1px black,
                inset 0 0 0 1px black;
    background-color: white;
}

.form-button:hover {
    cursor: pointer;
}

.form-button:focus {
    outline: none;
}

.form-button:is(:hover, :focus) .pointer {
    visibility: visible;
    animation: fade-in-out 0.5s alternate infinite;
}

.form-button:active {
    border: 1px solid rgba(0, 0, 0, 0.299);
}

/* Create Account/Login form input box sizing */
.f-name {
    flex-grow: 1;
    flex-basis: 15em
}
 
.l-name {
    flex-grow: 2;
    flex-basis: 25em
}

.email {
    flex-grow: 2;
    flex-basis: 25em
}

.phone-num {
    flex-grow: 1;
    flex-basis: 15em
}

.uname,
.pass {
    flex-grow: 2;
    flex-basis: 40em
}

/* -- MAIN PAGE STYLING -- */
.main-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-user {
    background-color: white;
    padding: 3em 1em;
    margin: 2em 1em;
    border: 5px double black;
    font-size: calc(1em + 1vw);
}

.footer-links {
    display: none;
}

.main-link {
    padding: 1em;
    background-color: white;
    color: black;
    font-size: 0.85em;
    text-decoration: none;
}

.main-link:hover {
    text-decoration: underline;
}

.main-link:active {
    border-color: black gray gray black;
}

.main-button {
    font-family: inherit;
    padding: 1em;
    background-color: white;
}

.main-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.main-button:active {
    border-color: black gray gray black;
}

.right {
    margin: 0 0 0 auto;
}

#sign-out {
    font-size: 0.85em;
}

/* -- PROFILE STYLING -- */
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.save-changes {
    width: 16em;
}

/* -- EDIT CONTACT STYLING -- */
.edit-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* -- DELETE CONTACT STYLING -- */
.delete-contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* -- CONTACTS PAGE -- */
.contact-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 3px double black;
    margin: 1em;
    width: 95%;
}

.contact-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em;
    border-bottom: 1px solid black;
}

.tb-date, .tb-actions {
    width: 0;
}

.contact-footer-container {
    display: flex;
    margin: auto 0;
}

.contact-footer {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-top: 1px solid black;
    background-color: white;
    flex-grow: 1;
}

.page-display {
    text-align: center;
}

.table-container {
    overflow: scroll;
}

.delete {
    font-family: "Early GameBoy Regular", system-ui;
}

input[type="search"] {
    padding: 1em;
    flex-basis: 30em;
    overflow: hidden;
}

table {
    width: 100%;
}

th, 
td {
    white-space: nowrap;
    padding: 1em;
    text-align: left;
}

th {
    background-color: rgb(255, 141, 141);
}

td {
    font-family: system-ui;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.045);
}

/* -- ANIMATIONS -- */
@keyframes fade-in-out {
    from {opacity: 100%;}
    to {opacity: 0%;}
  }


@media only screen and (max-width: 500px) {
    #first-page, #last-page {
        display: none;
    }
}

/* style when width is <= 800px */
@media only screen and (max-width: 800px) {
    /* LANDING PAGE (INDEX) STYLING */
    .main-name-heading {
        font-size: calc(1.2em + 1vw);
    }

    .body-login-btn,
    .body-create-account-btn {
        font-size: 1em;
    }

    /* -- MAIN STYLING -- */
    .main-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-content {
        display: flex;
        text-align: center;
    }

    .welcome-user {
        background-color: white;
        padding: 3em 1em;
        margin: 2em 1em;
        border: 5px double black;
        font-size: calc(1em + 1vw);
    }

    /* -- PROFILE PAGE STYLING -- */
    label {
        font-size: calc(0.5em + 1vw);
    }

    /* -- CONTACT PAGE STYLING -- */
    .contact-body {
        justify-content: space-between;
    }

    /* -- MISCELLANIOUS STYLINGS -- */
    footer {
        display: flex;
        width: 100%;
    }

    .top-nav-main-links {
        display: none;
    }

    .main-nav-links > li {
        display: none;
    }

    .footer-container {
        width: 100%;
        padding: 1em;
        background-color: var(--footer-bg-clr);
        padding: 1em;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em;
        text-align: center;
    }

    .main-button,
    .main-link,
    #sign-out {
        font-size: calc(0.4em + 1vw);
    }
}